<!DOCTYPE html>
{% load static %}
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'hotel/main.css' %}">

    <!-- Favicons -->
    <!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="{% static 'hotel/favicon.ico' %}">
	<link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'hotel/favicon.ico' %}">
	<link rel="icon" type="image/png" sizes="196x196" href="{% static 'hotel/favicon-192.png' %}">
	<link rel="icon" type="image/png" sizes="160x160" href="{% static 'hotel/favicon-160.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'hotel/favicon-96.png' %}">
	<link rel="icon" type="image/png" sizes="64x64" href="{% static 'hotel/favicon-64.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'hotel/favicon-32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'hotel/favicon-16.png' %}">
	<link rel="apple-touch-icon" href="{% static 'hotel/favicon-57.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'hotel/favicon-114.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'hotel/favicon-72.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'hotel/favicon-144.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'hotel/favicon-60.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'hotel/favicon-120.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'hotel/favicon-76.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'hotel/favicon-152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'hotel/favicon-180.png' %}">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{% static 'hotel/favicon-144.png' %}">
	<meta name="msapplication-config" content="{% static 'hotel/browserconfig.xml' %}">
	<!-- ****** faviconit.com favicons ****** -->

    <!-- User Checkin -->
    <script type="text/javascript">
    	
    	var user = '{{ request.user }}'

    	function getCookie(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        const cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            const cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
const csrftoken = getCookie('csrftoken');
    	
    </script>

    <!-- Fontawesome plugins -->
    <script src="https://use.fontawesome.com/a97b1dce4e.js"></script>

	<title>{% block title%}{% endblock title%}</title>
</head>
<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		  <a class="navbar-brand" href="{% url 'hotel-home' %}"><img style="width: 80px;height: 50px;" src="{% static 'hotel/karanga.png'%}"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		   	<div class="navbar-nav">
		      	<a class="nav-link active" href="{% url 'hotel-home' %}">Home</a>
		    </div>
		    <ul class="navbar-nav ml-auto">
		    	{% if user.is_authenticated %}
		    		<li class="nav-item active">
				        <a class="nav-link" href="{% url 'profiles' %}"><button class="btn btn-warning btn-">Profile</button></a>
				    </li>
				    <li class="nav-item active">
				        <a class="nav-link" href="{% url 'logout' %}"><button class="btn btn-warning btn-">Logout</button></a>
				    </li>
		    	{% else %}
				    <li class="nav-item active">
				        <a class="nav-link" href="{% url 'login' %}"><button class="btn btn-warning btn-">Login</button></a>
				    </li>
				    <li class="nav-item">
		        		<a class="nav-link" href="{% url 'register' %}"><button class="btn btn-warning btn-">Register</button></a>
		      		</li>
		    	{% endif %}
		      <li class="nav-item">
		      	<div style="display: flex; flex-direction: row;">
		        	<a class="nav-link" href="{% url 'hotel-tray' %}"><img style="width:30px; height: 30px;" src="{% static 'hotel/tray.png' %}"></a>
		        	<div id="items">{{ trayItems }}</div>
		    	</div>
		      </li>
		    </ul>
		  </div>
		</nav>

		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">
				{{message}}
			</div>
			{% endfor %}
		{% endif %}

		{% block content%}
		{% endblock content%}

		<div class="row" id="footer_row1">
			<div class="col">
				<span class="footer_span">Food Ordering</span>
				<hr>
				<ul>
					<li><a href="#">How it Works</a></li>
					<li><a href="#">Home Deliver</a></li>
					<li><a href="#">Drive By</a></li>
				</ul>
				
			</div>
			<div class="col">
				<span class="footer_span">Social</span>
				<hr>
				<ul>
					<li><a href="#"><i style="margin: 8px;" class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a></li>
					<li><a href="#"><i style="margin: 8px;" class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></li>
					<li><a href="#"><i style="margin: 8px;" class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
				</ul>

			</div>
			<div class="col">
				<span class="footer_span">Restaurant Services</span>
				<hr>
				<ul>
					<li><a href="#">Parties</a></li>
					<li><a href="#">Conferences</a></li>
					<li><a href="#">Home Deliveries</a></li>
					<li><a href="#">Drive-By</a></li>
				</ul>
			</div>
		</div>

		<div id="footer_row2">
			<div class="copyright_footer">
				 Copyright &#169;2020 Karanga.All rights reserved
			</div>
		</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

   <!-- Custom Scripts -->
   <script type="text/javascript" src="{% static 'hotel/main.js' %}"></script>

</body>
</html>