<!DOCTYPE html>
{% load static  %}
<html>
<head>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'users/usersmain.css' %}">

    <!-- Favicons -->
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="{% static 'hotel/favicon.ico' %}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'hotel/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'hotel/favicon-192.png' %}">
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'hotel/favicon-160.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'hotel/favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'hotel/favicon-64.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'hotel/favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'hotel/favicon-16.png' %}">
    <link rel="apple-touch-icon" href="{% static 'hotel/favicon-57.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'hotel/favicon-114.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'hotel/favicon-72.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'hotel/favicon-144.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'hotel/favicon-60.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'hotel/favicon-120.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'hotel/favicon-76.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'hotel/favicon-152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'hotel/favicon-180.png' %}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{% static 'hotel/favicon-144.png' %}">
    <meta name="msapplication-config" content="{% static 'hotel/browserconfig.xml' %}">
    <!-- ****** faviconit.com favicons ****** -->

    <!-- Fontawesome plugins -->
    <script src="https://use.fontawesome.com/a97b1dce4e.js"></script>

	<title>{% block title%}{% endblock title%}</title>
</head>
<body>
    {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{message}}
            </div>
            {% endfor %}
    {% endif %}


	{% block content %}
	{% endblock content %}

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>